*::after, *::before, * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: 188, 81, 152;
    --secondary: 232, 142, 201;
    --background-color: 255, 255, 255;
}

body {
    margin: 0;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.btn {
    padding: 0.5rem 4rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    margin: 2rem;
    transition: all 300ms ease-in-out;
}



.button-white {
    background-color: rgba(var(--background-color), 1);
    color: rgba(var(--primary), 1);
}

.button-purple {
    background-color: rgba(var(--primary), 1);
    color: rgba(var(--background-color), 1);
}

.button-white:hover {
    background-color: rgba(var(--primary), 0.6);
    color: rgba(var(--background-color), 1);
    box-shadow: 0 0 1px black;
}

.button-purple:hover {
    background-color: rgba(var(--background-color), 0.6);
    color: rgba(var(--primary), 1);
    box-shadow: 0 0 1px black;
}

li {
    list-style-type: none;
}

.card {
    width: 300px;
    height: 550px;
    background-color: white;
    margin-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #999;
}

.card-larger {
    height: 600px;
    background-color: rgba(var(--secondary), 1);
    color: white;
}

.value-container {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.value-container::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    width: 90%;
    transform: translateX(5%);
}

.features {
    display: flex;
    position: relative;
}

.features::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    width: 90%;
    transform: translateX(5%);
}

ul li {
    font-size: 0.9rem;
    margin: 1rem;
}

.avaliable {
    font-weight: 100;
    opacity: 1;
    color: black;
}

.unavailable {
    color: #333;
    text-decoration: line-through;
}

